<% if @product.has_sample && !(current_order && current_order.line_items.select{|li| li.variant.product == @product}.size != 0) %>
  <div id="wrapper-sample-to-cart-button">
    <%= form_for :order, :url => populate_orders_url do |f| %>
      <%= hidden_field_tag "products[#{@product.id}]", @product.sample.id %>
      <%= hidden_field_tag "quantity", 1 %>
      <%= button_tag :class => 'small primary', :id => 'add-sample-to-cart-button' do %>
        <%= image_tag('icons/add-to-cart.png') %>
        <%= t(:add_sample_to_cart_button) %>
      <% end %>
    <% end %>
  </div>
<% end %>
